<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
	 http://www.springframework.org/schema/mvc
	 http://www.springframework.org/schema/mvc/spring-mvc.xsd">
	 
	 <!-- 扫描属性配置文件 -->
	 <context:property-placeholder location="classpath:sysconfig.properties" order="1"/>
	 
	 <!-- 引入其他模块 -->
	 <import resource="applicationContext-http.xml"/>
	 
	 <!-- 扫描service -->
	 <context:component-scan base-package="com.zls.service"/>
</beans>